VITE_FIREBASE_API_KEY=AIzaSyB86_DB8hE4o5LlX6ac-0IQyzHZybO5Chw
VITE_FIREBASE_AUTH_DOMAIN=tube-coffee.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tube-coffee
VITE_FIREBASE_STORAGE_BUCKET=tube-coffee.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1037905557047
VITE_FIREBASE_APP_ID=1:1037905557047:web:e8658a72d05a03854e31b2
VITE_FIREBASE_MEASUREMENT_ID=G-NKB2PXPHVJ